
.wrapper {
	display: grid;
	grid-gap: 10px;
	margin: 0.2% 1%;

	grid-template-columns: [col] 20% [col] 20% [col] 20% [col] 20% [col] 18%;
	@media (max-width: 800px) {
		grid-template-columns: [col] 98%
	}
	background-color: #fff;
	color: #444;
}
a {
	color: #777;
}

.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
}

.header {
	grid-column: col 1 / span 3;
	@media (max-width: 800px) {
		grid-column: col 1 / span 1;
	}
	grid-row: 1;
}
.fileChoose {
	grid-column: col 4 / span 2 ;
	grid-row: 1;
	@media (max-width: 800px) {
		grid-column: col 1 / span 1;
		grid-row: 2;
	}	
}
.images {
	grid-column: col 1 / span 3;
	grid-row: 2;
	max-height: 50%;
	overflow: scroll;

	@media (max-width: 800px) {
		grid-column: col 1 / span 1;
		grid-row: 3;
	}	
}
.morphs {
	grid-column: col 4 / span 2;
	grid-row: 2;
	@media (max-width: 800px) {
		grid-column: col 1 / span 1;
		grid-row: 4;
	}	
}
